#modal

#registration

#my-form {
    background: #FFFAC4;
  }

#my-form-two {
    background: #FFFAC4;
  }

.form-two {
    background: #FFFAC4;
  }
/*
div {
  }
  .form {
    width: 200px;
    height: 200px;
  }
  .form-two {
    background-color: #00f;
  }*/